body{
    text-align: center;
    margin: 100px auto;
    background-image: url(./images/email-pattern.png);
}

h2{
    margin-bottom: 30px;
}
/* p.form{
    width: 500px;
    height: 300px;
    border: solid black 2px;
    text-shadow: 2px 2px;
    
} */

div{
    text-align: center;
    border-style: 2px solid #cccccc;
} 

#bar{
    padding-top: 10px;
}

h4{
    text-align: left;
    margin-top: 15px;
}

.form-control{
    padding: 40px;
    
}

.position{
    padding-bottom: 30px;
}

#pwBox {
    border: 2px solid #cccccc;
    border-radius: 5px;
    border-style: dashed;
    width: 45%;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 10px;
    
   
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }